<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated My -->
      <package
            uri="platform:/plugin/tdt4250/model/my.ecore"
            class="tdt4250.MyEcore.MyEcorePackage"
            genModel="model/My.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated My -->
      <parser
            type="myecore"
            class="tdt4250.MyEcore.util.MyEcoreResourceFactoryImpl"/>
   </extension>

</plugin>
