* {
	style = "font-family:courier,arial,helvetica;
}
.main {
	border-style: solid;
	padding: 5%
}
.program {
	
}

.years {
	padding: 3%;
	border-style: solid;
}

.semesterCourses{
	padding: 5%;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	font-size: 10px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

